.cmp-container {
    &__two-column-layout {
  
  // Desktop grid
  >.cmp-container {
    display: grid;
    gap: 16px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }


  
}

}